# Build output
dist/

# Generated types and cache
.astro/

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.production
.env*.local

# Editor-specific files
.vscode/
.idea/
*.code-workspace

# OS-specific files
.DS_Store
Thumbs.db

